# Python
__pycache__/
*.py[cod]
*.egg-info/
*.pyo

# Environments
.venv*/
.env*/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Build artifacts
build/
dist/
docs/build/

# VSCode or PyCharm
.vscode/
.idea/

# catboost
catboost_info/
